dnaPrint_3/dnaPrint.Config/Connected Services/dnaPrintWSAgente/Agente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Agente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.csfdigital.com.br/dnaprint/Agente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.csfdigital.com.br/dnaprint/Agente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgente_Ativo_InputMessage">
    <wsdl:part name="parameters" element="tns:Ativo" />
  </wsdl:message>
  <wsdl:message name="IAgente_Ativo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtivoResponse" />
  </wsdl:message>
  <wsdl:message name="IAgente_Adicionar_InputMessage">
    <wsdl:part name="parameters" element="tns:Adicionar" />
  </wsdl:message>
  <wsdl:message name="IAgente_Adicionar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdicionarResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgente">
    <wsdl:operation name="Ativo">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgente/Ativo" message="tns:IAgente_Ativo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgente/AtivoResponse" message="tns:IAgente_Ativo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgente/Adicionar" message="tns:IAgente_Adicionar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgente/AdicionarResponse" message="tns:IAgente_Adicionar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAgente" type="tns:IAgente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ativo">
      <soap:operation soapAction="http://tempuri.org/IAgente/Ativo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Adicionar">
      <soap:operation soapAction="http://tempuri.org/IAgente/Adicionar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Agente">
    <wsdl:port name="BasicHttpBinding_IAgente" binding="tns:BasicHttpBinding_IAgente">
      <soap:address location="http://www.csfdigital.com.br/dnaprint/Agente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>