CSF_Correios/Monitor/Web References/Suprimentos/Suprimentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Solicitar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serie" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="suprimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="statusSuprimento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estimativaDias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Contador" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SolicitarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SolicitarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SolicitarSoapIn">
    <wsdl:part name="parameters" element="tns:Solicitar" />
  </wsdl:message>
  <wsdl:message name="SolicitarSoapOut">
    <wsdl:part name="parameters" element="tns:SolicitarResponse" />
  </wsdl:message>
  <wsdl:portType name="SuprimentosSoap">
    <wsdl:operation name="Solicitar">
      <wsdl:input message="tns:SolicitarSoapIn" />
      <wsdl:output message="tns:SolicitarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SuprimentosSoap" type="tns:SuprimentosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Solicitar">
      <soap:operation soapAction="http://tempuri.org/Solicitar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SuprimentosSoap12" type="tns:SuprimentosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Solicitar">
      <soap12:operation soapAction="http://tempuri.org/Solicitar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Suprimentos">
    <wsdl:port name="SuprimentosSoap" binding="tns:SuprimentosSoap">
      <soap:address location="http://177.22.35.178:8383/requisicoes/Suprimentos.asmx" />
    </wsdl:port>
    <wsdl:port name="SuprimentosSoap12" binding="tns:SuprimentosSoap12">
      <soap12:address location="http://177.22.35.178:8383/requisicoes/Suprimentos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>