WebServices/SEtiquetasSuprimentos/MonitorEtqSuprimentos/MonitorEtqSuprimentos/Connected Services/wsEtqSuprimentos/EtiquetasSuprimentos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EtiquetasSuprimentosService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EtiquetasSuprimentosService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfvw_EtiquetasSuprimentos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vw_EtiquetasSuprimentos" nillable="true" type="tns:vw_EtiquetasSuprimentos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvw_EtiquetasSuprimentos" nillable="true" type="tns:ArrayOfvw_EtiquetasSuprimentos" />
  <xs:complexType name="vw_EtiquetasSuprimentos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grupo" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ValorAtual" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="data" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dtTermino" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dtTroca" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="etiqueta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="operador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="producao" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="serialSuprimento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="suprimento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vw_EtiquetasSuprimentos" nillable="true" type="tns:vw_EtiquetasSuprimentos" />
</xs:schema>