WebEmail/MonitorTrocasSuprimentosII/MonitorTrocasSuprimentosII/Connected Services/wsEmail/sEmail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://177.22.35.178:8484/wsEmail/sEmail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="Enviar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailPara" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailCopia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailCopiaOculta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="html" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ListarResult" nillable="true" type="q1:ArrayOfsEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SerieEquipamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmailUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>