WebMail/wmFormTeste/Service References/wsWebmail/sEmail.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfsEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sEmail" nillable="true" type="tns:sEmail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfsEmail" nillable="true" type="tns:ArrayOfsEmail" />
  <xs:complexType name="sEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailCopia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailCopiaOculta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailEnviado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailPara" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Html" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sEmail" nillable="true" type="tns:sEmail" />
</xs:schema>