WebMail/wmFormTeste/Service References/wsWebmail/sEmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="sEmail" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.2.222:8484/wsEmail/sEmail.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.2.222:8484/wsEmail/sEmail.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.2.222:8484/wsEmail/sEmail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsEmail_Enviar_InputMessage">
    <wsdl:part name="parameters" element="tns:Enviar" />
  </wsdl:message>
  <wsdl:message name="IsEmail_Enviar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarResponse" />
  </wsdl:message>
  <wsdl:message name="IsEmail_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IsEmail_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="IsEmail">
    <wsdl:operation name="Enviar">
      <wsdl:input wsaw:Action="http://tempuri.org/IsEmail/Enviar" message="tns:IsEmail_Enviar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsEmail/EnviarResponse" message="tns:IsEmail_Enviar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IsEmail/Listar" message="tns:IsEmail_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsEmail/ListarResponse" message="tns:IsEmail_Listar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsEmail" type="tns:IsEmail">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar">
      <soap:operation soapAction="http://tempuri.org/IsEmail/Enviar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IsEmail/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="sEmail">
    <wsdl:port name="BasicHttpBinding_IsEmail" binding="tns:BasicHttpBinding_IsEmail">
      <soap:address location="http://192.168.2.222:8484/wsEmail/sEmail.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>