CSF Digital/Painel de Peças/App_WebReferences/EmailWeb/email.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Enviar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sistema" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviarHtmlMessageCopia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="copia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sistema" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="html" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarHtmlMessageCopiaResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnviarHtmlMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assunto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sistema" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="html" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarHtmlMessageResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarSoapIn">
    <wsdl:part name="parameters" element="tns:Enviar" />
  </wsdl:message>
  <wsdl:message name="EnviarSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarHtmlMessageCopiaSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarHtmlMessageCopia" />
  </wsdl:message>
  <wsdl:message name="EnviarHtmlMessageCopiaSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarHtmlMessageCopiaResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarHtmlMessageSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarHtmlMessage" />
  </wsdl:message>
  <wsdl:message name="EnviarHtmlMessageSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarHtmlMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="EmailSoap">
    <wsdl:operation name="Enviar">
      <wsdl:input message="tns:EnviarSoapIn" />
      <wsdl:output message="tns:EnviarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarHtmlMessageCopia">
      <wsdl:input message="tns:EnviarHtmlMessageCopiaSoapIn" />
      <wsdl:output message="tns:EnviarHtmlMessageCopiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarHtmlMessage">
      <wsdl:input message="tns:EnviarHtmlMessageSoapIn" />
      <wsdl:output message="tns:EnviarHtmlMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmailSoap" type="tns:EmailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar">
      <soap:operation soapAction="http://tempuri.org/Enviar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarHtmlMessageCopia">
      <soap:operation soapAction="http://tempuri.org/EnviarHtmlMessageCopia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarHtmlMessage">
      <soap:operation soapAction="http://tempuri.org/EnviarHtmlMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmailSoap12" type="tns:EmailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Enviar">
      <soap12:operation soapAction="http://tempuri.org/Enviar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarHtmlMessageCopia">
      <soap12:operation soapAction="http://tempuri.org/EnviarHtmlMessageCopia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarHtmlMessage">
      <soap12:operation soapAction="http://tempuri.org/EnviarHtmlMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Email">
    <wsdl:port name="EmailSoap" binding="tns:EmailSoap">
      <soap:address location="http://192.168.2.222/requisicoes/email.asmx" />
    </wsdl:port>
    <wsdl:port name="EmailSoap12" binding="tns:EmailSoap12">
      <soap12:address location="http://192.168.2.222/requisicoes/email.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>