dnaPrint_3/dnaPrint.Service/Connected Services/ws/Operacoes4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/dnaPrint.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/dnaPrint.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOID">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OID" nillable="true" type="tns:OID" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOID" nillable="true" type="tns:ArrayOfOID" />
  <xs:complexType name="OID">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firmware" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Propriedade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="idPerfil" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OID" nillable="true" type="tns:OID" />
</xs:schema>