WebEmail/WebEmailMonitor/Web References/wsEmail/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnviarEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="para" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="copia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="copiaOculta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="titulo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensagem" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="html" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="ListarEmailsPendentes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarEmailsPendentesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ListarEmailsPendentesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPendentes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chave" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPendentesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarPendentesResult" type="tns:ArrayOfEmail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Email" nillable="true" type="tns:Email" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Email">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Para" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Copia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CopiaOculta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Html" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="IdEmail" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnviarEmailSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarEmail" />
  </wsdl:message>
  <wsdl:message name="EnviarEmailSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ListarEmailsPendentesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarEmailsPendentes" />
  </wsdl:message>
  <wsdl:message name="ListarEmailsPendentesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarEmailsPendentesResponse" />
  </wsdl:message>
  <wsdl:message name="ListarPendentesSoapIn">
    <wsdl:part name="parameters" element="tns:ListarPendentes" />
  </wsdl:message>
  <wsdl:message name="ListarPendentesSoapOut">
    <wsdl:part name="parameters" element="tns:ListarPendentesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="EnviarEmail">
      <wsdl:input message="tns:EnviarEmailSoapIn" />
      <wsdl:output message="tns:EnviarEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmailsPendentes">
      <wsdl:input message="tns:ListarEmailsPendentesSoapIn" />
      <wsdl:output message="tns:ListarEmailsPendentesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarPendentes">
      <wsdl:input message="tns:ListarPendentesSoapIn" />
      <wsdl:output message="tns:ListarPendentesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarEmail">
      <soap:operation soapAction="http://tempuri.org/EnviarEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmailsPendentes">
      <soap:operation soapAction="http://tempuri.org/ListarEmailsPendentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPendentes">
      <soap:operation soapAction="http://tempuri.org/ListarPendentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarEmail">
      <soap12:operation soapAction="http://tempuri.org/EnviarEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmailsPendentes">
      <soap12:operation soapAction="http://tempuri.org/ListarEmailsPendentes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPendentes">
      <soap12:operation soapAction="http://tempuri.org/ListarPendentes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://www.csfdigital.com.br/wsEmail/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://www.csfdigital.com.br/wsEmail/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>